body{
	background-color: #f4f4f4; /* color hex = lightgray */
	font-family: Tahoma, Helvetica, san-serif;
	font-size: 15px;
	/*overflow: hidden;*/
	margin: 0px;
	padding: 0px;
	background-color: lightgray;
}
.container{
	width: 90%;
	margin: auto;

}
a:hover{
	color: #e8491d;
}
.container a:hover{
	color: #e8491d;
	font-weight: bold;
	text-decoration: underline;
}
header{
	background-color: #35424a; /* color hex = bluish gray */
	color: white;
	padding-top: 10px;
	border-bottom: #e8491d 1px solid; /* color hex = orange*/
	min-height: 70px;
	margin-bottom: 0px;
	/*width: 100%;
	position: fixed;*/
}
header .container{
	display: block;
}
nav{
	/*width: 50%;*/
	float: right;
	padding-top: 5px;
}
.clr{
	clear: both;
}
.webname{
	/*width: 40%;*/
	float: left;
}
/*.clr{
	clear: both;
}*/
.webname a{
	color: white;
	text-decoration: none;
}
.webname a:hover{
	color: white;
	text-decoration: none;
}
nav li{
	list-style: none;
	display: inline;
	padding: 0 15px 0 0;
}
nav a{
	color: white;
	text-decoration: none;
	font-size: 11px;
}


/*-----------------------------------------------------------*/

.aboutDiv{
	display: flex;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #35424a;
	border: 4px solid #fff;
	/*border-radius: 15px;*/
}

.home-aboutDiv{
	display: block;
	
}
.home-aboutDiv img{
	border-radius: 25px;
}
.home-aboutPhoto-1{
	text-align: center;
	border: 2px solid white;
	width: 400px;
	margin-left: 33%;
	margin-right: 35%;
	margin-bottom: 20px;
	margin-top: 40px;
	border-radius: 320px;
	background-color: white;
}

.home-aboutPhoto-3{
	border: 6px solid #35424a;
	border-radius: 320px;
	margin-bottom: 0px;
	margin-top: 0px;
	background-color: #35424a;
	padding-bottom: 25px;
	padding-top: 25px;
}
.myName-home{
	text-align: center;
	padding-top: 0px;
}
.myName-home a{
	color: white;
	font-size: 35px;
}
.aboutInfo{
	margin-right: 215px;

}
.home-aboutInfo{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	border: 2px solid white;
	padding-bottom: 25px;
	padding-top: 25px;
	border-radius: 25px;
	padding-right: 30px;
	padding-left: 30px;
	background-color: #35424a;
}
.home-aboutInfo label{
	font-size: 17px;
	color: white;
	font-weight: bold;
}

.aboutDiv .aboutInfo{
	width: 60%;
	padding: 10px 10px 10px 30px; 
	margin-bottom: 0px;
}

.aboutDiv .aboutInfo h2{
	font-size: 46px;
	color: white;
	text-align: center;
	padding-bottom: 0px;
}
.aboutDiv .aboutInfo a{
	text-decoration: none;
}
.aboutDiv .aboutInfo label{
	color: #fff;
	text-align: center;
	padding-left: 130px;
	font-weight: bold;
}
.aboutPhoto{
	padding-left: 20px;
	padding-right: 20px;
	background-color: brown;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 0px;
}

main{
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.projectContainer{
	display: flex;
	margin-top: 20px;
	padding-left: 100px;
	padding-right: 100px;
}
/*.projectBox{
	padding: 0 40px 10px 40px;
	border: 1px solid gray;
}*/
.projectImage{
	text-align: center;
}
.projectImage h3:hover{
	color: #e8491d;
	font-weight: bold;
	font-size: 18px;
	text-decoration: underline;
}
.projectImage a{
	text-decoration: none;
	color: white;
}
.projectInfo{
	text-align: center;
	padding-left: 70px;
	padding-right: 70px;
	border:2px solid gray;
	margin-top: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
}
.projectDesc{
	color: black;
}
.projectBox1{
	/*padding: 0 422px 0 422px;*/
	width: 30%;
	text-align: center;
	/*border: 1px solid gray;*/
	padding-left: 70px;
	padding-right: 70px;
	border:2px solid gray;
	margin-right: 120px;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 40px;
	border-radius: 15px;
}
.projectBox2{
	/*padding: 0 422px 0 422px;*/
	width: 30%;
	text-align: center;
	/*border: 1px solid gray;*/
	padding-left: 70px;
	padding-right: 70px;
	border:2px solid gray;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 40px;
	border-radius: 15px;
}
.clr{
	clear: both;
}

.sub-menu-1{
	display: none;
	border: 1px solid #e8491d;
}
.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background-color: #35424a;

}
.contact-heading a{
	text-decoration: none;
}
.social-contact a{
	text-decoration: none;
}
.sub-menu-1 ul{
	padding-top: 30px;
	padding-bottom: 30px;
}
.sub-menu-1 ul li{
	color: white;
	font-size: 18px;
}

.sub-menu-1 .contact{
	display: block;
	padding-bottom: 30px;
	color: #e8491d;
	font-size: 18px;
}
.objective-section{
	border: 1px solid #35424a;
	margin-top: 40px;
	background-color: #32454a;
	border-radius: 15px;
	border: 5px solid #e8491d;
}
.career-objective-div{
	padding: 10px 42% 0 42%;
	
}
.objective-h3{
	font-size: 19px;
}
.objective_div{
	padding: 10px 20% 15px 20%;

}
.objective_div label{
	font-size: 17px;
}
.flex-div{
	margin-top: 10px;
	display: flex;
	padding-top: 2px;
	background-color: #35424a;
	border-radius: 10px;
	border: 5px solid #e8491d;
	/*min-width: 50px;*/
}
article{
	margin-top: 30px;
}
.title-div h3{
	padding-right: 0px;
	letter-spacing: 0.05em;
}
.flex-div li{
	letter-spacing: 0.03em;
	word-spacing: 0.18em;
}
.title-div a{
	text-decoration: none;
	color: white;
}


/*----------------------------------*/
/*.flex-div{
	margin-top: 10px;
	display: flex;
	background-color: #35424a;
	/*background-color: #;
}*/
body{
	background-color: brown;
	color: #fff;
	/*background-image: url("images/programming1.png");*/
}
/*main{
	background-image: url("images/programming2.jpeg");

}*/
.title-div{
	width: 30%;
	/*border: 1px solid #35424a;*/
	padding-left: 80px;
	padding-top: 0px;
	padding-right: 0px;

}

.flex-div .skill-h3{
	padding-right: 0px;
	position: relative;
	top: auto;
}
.media-title-1{
	padding-top: 0px;
	margin-top: 0px;
}
.projImg-bg{
	background-color: #e8491d;
	width: 17%;
	padding-left: 10px;
	padding-bottom: 5px;
}
/*.title-div .media-title-1{
	margin-top: 0px;
	padding-top: 0px;
}*/
.mediaDesc-section-1{
	padding-top: 0px;
}
.title-desc-div{
	width: 70%;
	text-align: left;
	/*border: 1px solid limegreen;*/
	padding-left: 170px;
	border-left: 1px solid lightgray;
	/*padding-left: 30%;
	/*min-width: 10px;*/
}
.sub-desc-div{
	padding-top: 30px;
}
.contact-heading{
	padding-bottom: 5px;
	padding-top: 5px;
}
.contact-heading label{
	color: #e8491d;
}
.skill-h3{
	padding-top: 10px;
}
.projects-h3{
	padding-bottom: 45px;
}
.work-exp-h3{
	padding-bottom: 40px;
}
.education-h3{
	padding-bottom: 40px;
}
.contacts-h3-2{
	padding-bottom: 40px;
}
.projectBox1{
	background-color: #35424a;
	border: 5px solid #e8491d;
}
.projectBox2{
	background-color: #35424a;
	border: 5px solid #e8491d;
}
.projectInfo{
	background-color: #e8491d;
}
.projectInfo a{
	color: navy;

}
.projectInfo a:hover{
	color: blue;
	font-size: 15px;
	font-weight: bold;
}
.projectInfo .projectDesc{
	color: white;
	word-spacing: 0.13em;
	letter-spacing: 0.05em;
}
.descImg-title{
	padding-left: 7%;
	margin-top: 50px;
	text-decoration: underline;
	background-color: lightgray;
	text-align: center;
}
.descImg-title h3{
	padding-bottom: 5px;
	padding-top: 0px;
	color: brown;
	text-decoration: none;
	/*padding-top: 6px;*/

}
.descImg-1{
	display: flex;
	padding-left: 22%; 
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-right: 5%;
}
.descImg-2{
	display: flex;
	padding-left: 22%;
	padding-bottom: 10PX;
	margin-bottom: 10px;
	padding-right: 5%;
}
.descImg-3{
	display: flex;
	padding-left: 5%; 
	margin-bottom: 10px;
	margin-bottom: 10px;
	padding-right: 5%;
}
.descImg-4{
	display: flex;
	padding-left: 5%; 
	padding-right: 5%;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.descImg-section-main{
	background-color: #862d2d;
	/*background-color: #862d2d;
	/*border: 2px solid #e8491d;*/
	padding-top: 17px;
	border-radius: 15px;

	border: 3px solid none;
	box-sizing: border-box;

}
.descImg-section-main-2{
	background-color: #862d2d;
	/*background-color: #862d2d;
	/*border: 2px solid #e8491d;*/
	padding-top: 17px;
	padding-bottom: 2px;
	border-radius: 15px;
	border: 3px solid none;
	margin-top: 40px;
	box-sizing: border-box;
}
.projImg-bg-1{
	border: 2px solid brown;
	margin-right: 120px;
	padding: 0px 20px 20px 20px;
	margin-bottom: 20px;
	background-color: #732626;
	border-radius: 15px;
	/*padding-bottom: 10px;*/
}

.projImg-bg-2{
	border: 2px solid brown;
	margin-right: 120px;
	padding: 0px 20px 10px 20px;
	margin-bottom: 20px;
	background-color: #732626;
	border-radius: 15px;
}
.projImg-bg-3{
	border: 2px solid brown;
	margin-right: 20px;
	padding: 0px 20px 10px 20px;
	margin-bottom: 20px;
	background-color: #732626;
	border-radius: 15px;
}
.projImg-bg-4{
	border: 2px solid brown;
	margin-right: 120px;
	padding: 0px 20px 10px 20px;
	background-color: #732626;
	border-radius: 15px;
	margin-bottom: 20px;
}
.projImg-bg-5{
	border: 2px solid brown;
	margin-right: 120px;
	padding: 0px 20px 10px 20px;
	background-color: #732626;
	border-radius: 15px;
	margin-bottom: 20px;
}
.projImg-bg-6{
	border: 2px solid brown;
	margin-right: 20px;
	padding: 0px 20px 10px 20px;
	background-color: #732626;
	border-radius: 15px;
	margin-bottom: 20px;
}
.projImg-bg-1{
	text-align: center;
}
.projImg-bg-2{
	text-align: center;
}
.projImg-bg-3{
	text-align: center;
}
.projImg-bg-4{
	text-align: center;
}
.projImg-bg-5{
	text-align: center;
}
.projImg-bg-6{
	text-align: center;
}






footer{
	background-color: #35424a;
}
.footer-box{
	position: relative;
	display: flex;
	left: 60px;
	margin-top: 100px;
	width: 90%;
}
.cat{
	margin-right: 20px;
	min-width: 185px;
}
.footer-box h4{
	color: white;
	margin-bottom: 0px;
}
.footer-box ul{
	padding-left: 0px;
}
.footer-box li{
	list-style: none;
	line-height: 1.3em;
	padding-bottom: 12px;
}
.footer-box li a{
	margin-left: 0px;
	color: #e8491d;
	font-size: 14px;
}
.footer-box li a:hover{
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.footer-nav{
	width: 90%;
	padding-left: 90px;
	margin-top: 60px;
}
.footer-nav ul{
	margin-left: 430px;
	margin-right: auto;
}
.footer-nav li a{
	color: limegreen;
	font-size: 13px;
}
.footer-nav li a:hover{
	color: white;
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
}
.footer-nav ul li{
	/*position: relative;*/
	display: inline;
	list-style: none;
	padding-right: 50px;
}
.copy-right h2{
	margin-left: 500px;
	margin-right: 200px;
	font-weight: normal;
	color: white;
	font-size: 15px;
	padding-bottom: 10px;
}

.mesage-box-container{
	display: flex;
}
.image-box-img{
	width: 30px;
}
.breaking-image-box{
	width: 40%;
}
.breaking-image-box img{
	width: 100%;
	padding-top: 20px;
	margin-right: 10px;
}
.breaking-msg-box{
	width: 60%;
	margin-left: 10px;
	padding-top: 20px;
}
.breaking-msg-box h2{
	width: 100%;
}
.breaking-msg-box a{
	font-size: 14px;
	font-weight: bold;
	color: #35424a;
}
.breaking-msg-box a:hover{
	color: #e8491d;
	text-decoration: none;
}
.mesage-box-advert-container .advert-1{
	width: 70%;
	margin-left: 20px;
	margin-top: 10px;
}
.mesage-box-advert-container .empty-div{
	width: 30%;
}
.news-highlights-advert-1 img{
	position: relative;
	width: 150px;
}
.news-highlights-advert-1 a{
	position: relative;
	padding-left: 20%;
}
/*nav li{
	list-style: none;
	display: inline;
	padding: 0 15px 0 0;
	7
	#e8491d #35424a
}*/

/*======== MOBILE VERSION (MediaQueries)===================*/
@media(max-width: 768px){
	header .webname,
	header nav,
	header nav li,
	section .home-aboutPhoto-1,
	section .myName-home,
	section,
	footer .footer-nav li,
	footer .copy-right,
	.skills-section,
	.title-div
	{
		float: none;
		width:  100%;
		text-align: center;
	}
	section{
		text-align: center;
	}
	section .home-aboutPhoto-1{
		margin-left: auto;
		margin-right: auto;
		border-radius: 320px;
		text-align: center;
		width: 100%;
	}
	section .home-aboutPhoto-3{
		border-radius: 320px;
	}
	.section .home-aboutPhoto-3 img{
		width: 150px;
	}
	.footer-nav{
		padding-left: 0px;
		padding-right: 0px;
		margin-left: 0px;
		margin-right: 0px;
		/*width: 100%;*/
		margin-top: 60px;
	}
	.footer-nav ul{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.copy-right h2{
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 10px;
	}
	.aboutDiv{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	/*width: 	100%;*/
	/*padding: 20px 20px 50px 20px;*/
	}
	.aboutPhoto{
		margin: 20px 20px 20px 20px;
		border: 2px solid white;
		padding: 20px 20px 20px 20px;
	}
	.aboutInfo{
		margin: auto;
	}
	.aboutDiv .aboutInfo h2{
		text-align: center;
		/*padding: 10px 10px 10px 10px;*/
		margin-bottom: 0px;
		border: 2px solid brown;
		font-size: 28px;
		margin-bottom: 10px;
	}
	.aboutDiv .aboutInfo label{
		/*text-align: center;*/
		padding-left: 0px;
		margin-bottom: 0px;
	}
	.career-objective-div{
		text-align: center;
		padding: 0px 10px 0px 10px;
		border-bottom: 1px solid #e8491d;
	}
	.objective_div{
	padding: 10px 15% 15px 15%;

	}
	.flex-div{
	border-radius: 10px;
	border: 5px solid #e8491d;
	text-align: center;
	display: block;
	/*min-width: 50px;*/
	}
	.title-div{
		display: block;
		/*width: 100%;*/
		border-bottom: 1px solid #e8491d;
		padding-left: 0px;
		padding-top: 0px;
		padding-right: auto;
		text-align: center;
	}

	.title-desc-div{
		display: block;
		width: 100%;
		text-align: left;
		/*border: 1px solid limegreen;*/
		padding-left: 0px;
		border-left: none;
	}
	.projects-h3{
		padding-bottom: 20px;
		margin-bottom: 0px;
	}

	.work-exp-h3{
		padding-bottom: 0px;
	}
	.education-h3{
		padding-bottom: 0px;
	}
	.contacts-h3-2{
		padding-bottom: 0px;
	}
	.sub-desc-div{
		text-align: center;
		padding-bottom: 15px;
	}
	.social-contact{
		text-align: center;
		padding-bottom: 15px;
	}
	.projectContainer{
	display: block;
	margin-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	text-align: center;
	}
	.projectBox1, .projectBox2{
	display: block;
	width: 100%;

	text-align: center;
	/*border: 1px solid gray;*/
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-bottom: 40px;
	}
	.projectBox1 h3, .projectBox2 h3{
		padding-left: 10px;
		padding-right: 10px;
	}
	.projectInfo{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
	margin-right: 10px;
	margin-left: 10px;
	}
	.sub-title-desc-div{
	width: 100%;
	text-align: center;
	padding: 6px 0px 6px 0px;
	margin-left: 0px;
	}
	.sub-title-desc-div label{
	word-spacing: 0.08em;
	}
	.title-desc-div li{
	word-spacing: 0.08em;
	}
	.title-desc-div{
	width: 100%;
	text-align	 left;
	padding-left: 0px;
	padding-right: 20px;
	/*margin-right: 40px;*/
	}
	.descImg-1, .descImg-2, .descImg-3, .descImg-4, .descImg-5, .descImg-6{
	width: 92%;
	display: block;
	padding-left: 4%;
	margin-bottom: 10px;
	padding-bottom: 15px;
	padding-right: 4%;
	}
	.projImg-bg-1, .projImg-bg-2, .projImg-bg-3, .projImg-bg-4, .projImg-bg-5, .projImg-bg-6{
	/*width: 100%;*/
	box-sizing: border-box;
	/*margin-right: 20px;*/
	padding-bottom: 10px;
	/*padding-right: 5%;*/
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
	margin-left: 0px;
	}

}
